body {
    background-color: rgb(20, 20, 20);
    margin: 0px;
  }
  
#menu {
    height: 100vh;
    display: flex;
    align-items: center;
}

.menu-item {
    color: white;
    font-size: clamp(3rem, 8vw, 8rem);
    font-family: "Ibarra Real Nova", serif;

    display: block;
    text-decoration: none;
    padding: clamp(0.25rem, 0.5vw, 1rem) 0rem;
    transition: opacity 400ms ease;
}

#menu-items {
    margin-left: clamp(10rem, 10vw, 28rem);
    position: relative;
    z-index: 2;
}

#menu-items:hover > .menu-item {
    opacity: 0.3;
}

#menu-items:hover > .menu-item:hover {
    opacity: 1;
}

#menu-background-image {
    height: 100%;
    width: 100%;
    
    background-image: url("images/mahoneBay.jpeg");
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 0;

    background-position: center 100%;
    background-size: 100vmax;
    opacity: 0.15;

    transition: opacity 800ms ease,
        background-size 800ms ease,
        background-position 800ms ease;
}

#menu-items:hover ~ #menu-background-image {
    background-size: 105vmax;
    opacity: 0.10;
}

#menu[data-active-index="0"] > #menu-background-image {
    background-position: 0% -0%;
}

#menu[data-active-index="1"] > #menu-background-image {
    background-position: 0% -5%;
}

/*This puts the background image back to index 0 position*/
#menu-items:not(:hover) ~ #menu-background-image {
    background-position: 0% -0%;
    /*Uncomment below to put the background image to original setting*/
    /*background-position: center 100%;
    background-size: 100vmax;
    opacity: 0.15;*/
}

#menu-background-pattern {
    height: 100vh;
    width: 100vw;

    background-image: radial-gradient(
        rgba(2255, 255, 255, 0.1) 9%,
        transparent 9%
    );

    background-position: 0%, 0%;
    background-size: 12vmin 12vmin;

    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 1;

    transition: opacity 800ms ease,
        background-size 800ms ease;
}

#menu-items:hover ~ #menu-background-pattern {
    background-size: 11vmin 11vmin;
    opacity: 0.5;
}

#menu[data-active-index="0"] > #menu-background-pattern {
    background-position: 0% -25%;
}

#menu[data-active-index="1"] > #menu-background-pattern {
    background-position: 0% -50%;
}

/* ------about.html formatting----- */
#about {
    color: white;
    font-size: clamp(1rem, 3vw, 3rem);
    font-family: "Ibarra Real Nova", serif;

    display: block;
    text-decoration: none;
    padding: clamp(0.25rem, 0.5vw, 1rem) 0rem;
    transition: opacity 400ms ease;
    z-index: 1;
    opacity: 0.80;
    margin-left: clamp(10rem, 5vw, 25rem);
    position: relative;
}

#about-background-image {
    height: 100%;
    width: 100%;
    
    background-image: url("images/me.jpeg");
    background-attachment: fixed;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 0;

    background-position: center 100%;
    background-size: 100vmax;
    opacity: 0.15;

    transition: opacity 800ms ease,
        background-size 800ms ease,
        background-position 800ms ease;
}

#menu-items:hover ~ #about-background-image {
    background-size: 105vmax;
    opacity: 0.10;
}

#menu[data-active-index="0"] > #about-background-image {
    background-position: 0% -0%;
}

#menu[data-active-index="1"] > #about-background-image {
    background-position: 0% -5%;
}